body{
   margin: auto;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
}

.words{
   display: flex;
   margin: auto;
 
   width: 500px;
   height: 300px;
   flex-direction: column;
   align-items: stretch;
   margin-top: 20%;

}
.bed-words{
  
   width: 100%;
}
.bed{
   color: black;
  
}
.red-w{
   color: rgb(217, 0, 0);
   

}
.writ-word{
   width: 58%;
   height: 25px;
   padding: 5px;border-radius: 5px;
   box-sizing: border-box;
   border: .75px solid rgba(51, 115, 180, 0.693);
   outline: none;
   margin-top: 5px;
}

.writ-word:focus,#textarea:focus{
   box-shadow: 0px 0px 5px 0px rgb(17, 104, 158);
}
.add,.reset,.cenzor-btn{
   width: 20%;
   height: 25px;
   padding: 5px;border-radius: 5px;
   border: none;
   background-color: rgb(255, 200, 0);
}
.reset{
   background-color: rgb(227, 61, 61);
   color:white

}
#textarea{
   margin-top: 12px;
   width: 98%;
   outline: none;

   height: 70px;
   border-radius: 5px;
   border-color: transparent;
   box-shadow: 0px 0px 5px 0px lightslategray;
}

.cenzor-btn{
  background-color: limegreen;
 width: 100%;
 color: white;

}

.err-input{
   display: none;
   color: red;
   font-size: small;
}